@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

:root{
    --verde: #a3de83;
    --branco: #feffea;
    --verde-escuro: #2eb872;
}

/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'orbitron';
    color: var(--branco);
}

h1, h2{
    text-align: center;
}

h1{
    margin-top: 5rem;
}

body{
    background-color: var(--verde-escuro);
    width: 100%;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    width: 320px;
    margin: 2rem auto;
    grid-gap: 10px;
}

.btn, #resetBtn{
    color: var(--branco);
    background-color: var(--verde);
    height: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    font-size: 5rem;
    text-transform: uppercase;
}

.btn:hover, #resetBtn:hover{
    background-color: rgba(163, 222, 131, 0.5);
}

#placar{
    position: absolute;
    top: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
    width: 100vw;
    height: 6.5rem;
}

#placar p{
    width: 100%;
    background-color: var(--verde);
    text-align: center;
    height: 100%;
    font-size: 5rem;
    margin-top: 2rem;
    border-radius: 5px;
}

#resetBtn{
    margin: 1rem auto 0;
    display: block;
    font-size: 2rem;
    height: auto;
    padding: 1rem 2rem;
}

@media(max-width:730px){
    #placar{
        position: inherit;
        margin: 2rem 0;
    }   
}

@media (max-width:350px){
    
    main{
        grid-template-columns: repeat(3, 70px);
        width: 230px;
    }

    .btn{
        height: 70px;
        font-size: 3rem;
    }
}